@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
  background-color: ghostwhite;
  font-family: 'Quicksand', sans-serif;
  min-width: 329px;
}


ul#header-wrap{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: space-between;
  list-style-type: none;
  width: 100%;
  background-color: ghostwhite;
}
li#header-img-wrap{
  flex:3;
  display: flex;
  align-items: center;
  
}
.logo {
  
  font-size: 1.5em;
  
  text-transform: uppercase;
  font-weight: 700;
  
}

.logo span {
  font-weight: 400;
}
li#nav-bar-wrap{
  flex:4;
  display: flex;
  justify-content: flex-end;
}
nav#navbar{
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  width: 75%;
  max-width: 25em;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  min-width: 1em;
  flex-shrink: 0;
  
}
a.nav-link{
  text-decoration: none;
  color: black;
  padding: .5em;
  background-color: silver;
  border-radius: 5px;
}

a.nav-link:hover{
  background-color: lightgray;
}


@media (max-width: 540px){
  ul#header-wrap{
    flex-direction: column;
    width: 100%;
    min-width: 275px;
    justify-content: center;
    align-items: center;
  }
  
  nav#navbar{
    flex-direction: column;
    width: 100%;
    
  }
  #about{
  padding-top: 6em;
  }
  #header-container{
    margin-top: 12em;
  }
  #projects{
    padding-top: 13em;
    background-color: ghostwhite;
    
  }
  #contact{
    padding-bottom: 12em;
  }
}




/* Start of header */
.header-container {
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  width: 100%;
 }

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
  flex-wrap: wrap;
  }

.selfie {
  margin-top: 7em;
  border-style: solid;
  border-radius: 2%;
  display: flex;
  width: auto; /* you can use % */
  height: 40%;
  
}
img#header-img{
  width: auto; /* you can use % */
  height: 100%;
}
#welcome-section {
  min-width: 10em;
  max-width: 20em;
  height: 100vh;
} 

/*portfolio starts here */
#projects-wrap{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 329px;
}
.port-title{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: ghostwhite;
  width: 100%;
  background: ghostwhite;
}
#title{
  border-bottom: 3px solid;
}
.photo-grid-container {
  padding-top: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
}

.photo-grid {
  max-width: 90vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.project-tile {
  border: 4px solid black;
  
}

/* Start of contact form*/
.contact-list-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: ghostwhite;
  
}
.contact-list {
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
  width: 100%; 
  max-width: 60vw;
}

.contact-me {
  border-bottom: 4px solid;
  margin: 2em;
  background: ghostwhite;
}

.left-side {
  padding: 10px;
}
.right-side {
  padding: 15px;
  display: flex;
  justify-content: center;
  width: 100%;
  
}




/*footer*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-item {
  
  background-color: black;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-one,
.footer-three {
  background-color: black;
  display:flex;
  flex-direction: column;
  color: ghostwhite ;
  flex: 1;
}

.nested-f1-1 {
  margin-bottom: -1.2em;
}
.footer-two {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 2;
  flex-direction: row;
  background-color: ghostwhite;
}


.nested-f2-2 {
  margin-bottom: -.7em;
  margin-right: 1em;
  margin-left: 1em;
}

.nested-f2-4 {
  margin-left: .8em;
  margin-bottom: -.15em;
}
